extends layout

block content
    h3=`Nouveau nom ${name} ?`
    form(method="POST", action=`/users/${name}?_method=PUT`)
        div
            input(type="text", name="name")
        button(type="submit") Enregistrer